#### Load data _Taiwan Estate Price_ yang disimpan pada file `taiwan_real_estate.csv`

In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('Dataset_taiwan_real_estate.csv')
data.head()

   dist_to_mrt_m  n_convenience house_age_years  price_twd_msq
0       84.87882             10        30 to 45      11.467474
1      306.59470              9        15 to 30      12.768533
2      561.98450              5         0 to 15      14.311649
3      561.98450              5         0 to 15      16.580938
4      390.56840              5         0 to 15      13.040847

#### Konversikan kolom `house_age_years` dari kategorik menjadi numerik dengan `map`

In [4]:
data['house_age_years'] = data['house_age_years'].map({'30 to 45': 3, '15 to 30': 2, '0 to 15': 1})
data.head()

   dist_to_mrt_m  n_convenience  house_age_years  price_twd_msq
0       84.87882             10                3      11.467474
1      306.59470              9                2      12.768533
2      561.98450              5                1      14.311649
3      561.98450              5                1      16.580938
4      390.56840              5                1      13.040847

#### Pisahkan prediktor dan target dari data. Target adalah kolom `price_twd_msq`

In [18]:
X = data.drop('price_twd_msq', axis=1)
y = data['price_twd_msq']

0      11.467474
1      12.768533
2      14.311649
3      16.580938
4      13.040847
         ...
409     4.659607
410    15.128593
411    12.284418
412    15.885023
413    19.334342
Name: price_twd_msq, Length: 414, dtype: float64

#### Pisahkan data menjadi _training data_ dan _testing data_ dengan ukuran _training data_ sebesar 90%

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

#### Lakukan regresi dengan _linear regression_

In [22]:
from sklearn.linear_model import LinearRegression

clf1 = LinearRegression()
clf1.fit(X_train, y_train)

LinearRegression()

#### Lakukan regresi dengan SVM. Gunakan kernel _polynomial_ dengan _degree_ 2

In [25]:
from sklearn.svm import SVR

clf2 = SVR(kernel='linear', C=2)
clf2.fit(X_train, y_train)

SVR(C=2, kernel='linear')

#### Lakukan regresi dengan MLP, dengan aktivasi tanh dan 2 _hidden layer_ sebanyak 50 dan 50

In [30]:
from sklearn.neural_network import MLPRegressor

clf3 = MLPRegressor(activation ='tanh', hidden_layer_sizes = (50,50), max_iter=1000)
clf3.fit(X_train, y_train)

MLPRegressor(activation='tanh', hidden_layer_sizes=(50, 50), max_iter=1000)

`max_iter` adalah parameter untuk menentukan jumlah maksimal perulangan dalam _training_

#### Hitung koefisien determinasi (R^2) dari ketiga model di atas

In [31]:
clf1.score(X_test, y_test)

0.3198299969178603

In [32]:
clf2.score(X_test, y_test)

0.33966699365546527

In [33]:
clf3.score(X_test, y_test)

0.3244608071934646

#### Hitung MAE dari ketiga model regresi di atas

In [34]:
from sklearn.metrics import mean_absolute_error

In [35]:
mean_absolute_error(y_test, clf1.predict(X_test))

2.376021243324011

In [36]:
mean_absolute_error(y_test, clf2.predict(X_test))

2.4351838498479608

In [37]:
mean_absolute_error(y_test, clf3.predict(X_test))

2.294647018848725

#### Hitung MSE dari ketiga model regresi di atas

In [39]:
from sklearn.metrics import mean_squared_error

In [40]:
mean_squared_error(y_test, clf1.predict(X_test))

18.431942865854055

In [41]:
mean_squared_error(y_test, clf2.predict(X_test))

17.894379626015745

In [42]:
mean_squared_error(y_test, clf3.predict(X_test))

18.30645242958699

#### Dari ketiga model ini, manakah yang paling baik performanya?